name: main

# Automatically cancel a previous run.
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CONDA_EXE: mamba

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - '*'

jobs:

  run-type-checking:

    name: Run tests for type-checking
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version-file: .python-version
          allow-prereleases: true
          cache: pip
      - run: pip install tox-uv
      - run: tox -e typing

  run-tests:

    name: Run tests for ${{ matrix.os }} on ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12']

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          allow-prereleases: true
      - run: pip install tox

      # Unit, integration, and end-to-end tests.

      - name: Run unit tests and doctests.
        shell: bash -l {0}
        run: tox -e test -- tests -m "unit or (not integration and not end_to_end)" --cov=src --cov=tests --cov-report=xml

      - name: Upload unit test coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v4
        with:
          flags: unit

      - name: Run end-to-end tests.
        shell: bash -l {0}
        run: tox -e test -- tests -m end_to_end --cov=src --cov=tests --cov-report=xml

      - name: Upload end_to_end test coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v4
        with:
          flags: end_to_end
